.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Home-Wrapper {
    width: 96vw;
    height: 95vh;
    background-color: #F3F3F3;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 0.5vw;
    border-bottom-left-radius: 2vw;
}

.Home-Header {
    display: flex;
    justify-content: space-between;
    padding-left: 2.5vw;
    padding-right: 3.5vw;
    font-family:'Times New Roman', Times, serif;
}

.Home-Header h1 {
    font-size: 1.66vw;
    font-weight: 100;
    color: #0762A5;
}

.Home-Content {
    width: 96vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home-Content-Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    height: 31.4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #154175;
}

.Home-Content-Category-Wrapper  {
    width: 22vw;
    height: 26vw;
}

.Home-Content-Category  {
    width: 22vw;
    height: 12vw;
} 

.Home-Content-Category h2 {
    text-align: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.6vw;
    font-weight: 100;
    margin-top: 0.1vw;
    margin-bottom: 0.5vw;
}

.Home-Content-Category-Task {
    width: 16vw;
}

.Task-1 {
    border-bottom: thin solid white;
    margin-bottom: 1vw;
    height: 14vw;
}

.Home-Content-Category-Task-Content {
    display: flex;
    align-items: center;
}

.Home-Content-Category-Task-Content img {
    height: 1vw;
    margin-right: 1vw;
    object-fit: cover;
}

.Home-Content-Category-Task-Content p {
    margin-top: 0.6vw;
    margin-bottom: 0.5vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2vw;
    font-weight: 100;
    color: white;
    width: 14vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Home-Content-Add {
    display: flex;
    justify-content: flex-end;
    width: 22vw;
}

.Home-Content-Add button {
    background: none;
    border: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 5vw;
    font-weight: 100;
    color: white;
    cursor: pointer;
}