.LogIn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    color: white;
}

.LogIn-Form {
    display: flex;
    flex-direction: column;
    width: 32vw;
    height: 42vw;
    padding-top: 7vw;
    padding-left: 4vw;
    padding-right: 9vw;
    background-color: rgb(24, 24, 24);
}

.LogIn-Form-Title h1 {
    font-size: 4vw;
    margin-top: 0px;
    margin-bottom: 0px;
    color:#e7fe55;
}

.LogIn-Form-Title p {
    font-size: 1.1vw;
    margin-top: 1.1vw;
    margin-bottom: 1.1vw;
}

.LogIn-Form-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vw;
}

.LogIn-Form-Input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vw;
}

.LogIn-Form-Input input {
    height: 3.3vw;
    font-size: 1.3vw;
    border-radius: 0.5vw;
    background-color: rgb(255, 255, 255);
    border: none;
    padding-left: 1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    color: black;
}

.LogIn-Form-Submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LogIn-Form-Submit-LogIn button {
    background-color: #e7fe55;
    border: none;
    border-radius: 3vw;
    width: 11vw;
    height: 3.6vw;
    font-size: 1.2vw;
    cursor: pointer;
}

.LogIn-Form-Submit-SignUp button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
}

.LogIn-Cover {
    width: 45vw;
    height: 49vw;
}

.LogIn-Cover img {
    width: 45vw;
    height: 49vw;
    object-fit: cover;
}